body{
    height: 100%;
    text-align: center;
    font-family: 'Cabin',Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
li{
    font-size: 22px;
    margin: 15px;
    text-align: left;
}
p{
    font-size: 30px;
}

.container-card{
    border: solid black 5px;
    border-radius: 15px;
    min-height: 500px;
    margin: 50px;
}

button{
    margin: 10px 45px;
    border: solid black 3px;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    border-radius: 15px;
    font-family: 'Cabin',Arial, Helvetica, sans-serif;
}
button:hover{
    transition: 0.3s;
    background-color: rgb(255, 0, 0);

}
button:active{
    transform: scale(0.98);
}
